on:
  workflow_call:
    inputs:
      package:
        type: string
        description: "Package to build"
        required: true

jobs:
  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v6
      - name: Install build tools
        run: uv sync --frozen --group build
      - name: Build sdist
        run: uv build --sdist --package ${{ inputs.package }}
      - uses: actions/upload-artifact@v4
        with:
          name: cibw-sdist-${{ inputs.package }}
          path: dist/*.tar.gz

  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: linux-intel
            runs-on: ubuntu-latest
          - os: linux-arm
            runs-on: ubuntu-24.04-arm
          - os: windows-intel
            runs-on: windows-latest
          - os: windows-arm
            runs-on: windows-11-arm
          - os: macos-arm
            runs-on: macos-14
    steps:
      - uses: actions/checkout@v5
      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.1
        with:
          package-dir: packages/${{ inputs.package }}
        env:
          CIBW_BUILD: "cp310-* cp311-* cp312-* cp313-*"
          CIBW_SKIP: "cp*t-* *-win32 *_i686 *_s390x"
          CIBW_BUILD_VERBOSITY: 2
          MACOSX_DEPLOYMENT_TARGET: "11.0"
          # Use manylinux_2_28
          CIBW_MANYLINUX_X86_64_IMAGE: manylinux_2_28
          CIBW_MANYLINUX_AARCH64_IMAGE: manylinux_2_28
          # Use musllinux_1_2
          CIBW_MUSLLINUX_X86_64_IMAGE: musllinux_1_2
          CIBW_MUSLLINUX_AARCH64_IMAGE: musllinux_1_2
      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ inputs.package }}-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
